.title{
    position: fixed;
    width: 25%;
    height: 8%;
    /* background: dodgerblue; */
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
    background-color: yellowgreen;
  }

  .flex-container-div{
    background-color: #f1f1f1;
    width: 100px;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
  }

  ul{
    list-style-type:none;
    display:inline;
    }


    .book-store {
      display: flex;
      flex-direction: column;
      max-width: 1400px;
      height: 100vh;
      background-color: var(--page-bg-color);
      margin: 0 auto;
      overflow: hidden;
      box-shadow: 0px 2px 50px 10px rgba(0, 0, 0, 0.21);
   }

   .header {
    height: 70px;
    width: 100%;
    background-image: linear-gradient(to right,rgb(254,	221,	178), rgb(240, 173, 220) , rgb(	164, 125, 202));
    padding: 0 30px;
    font-size: 14px;
    font-weight: 500;
    color: var(--body-color-light);
    justify-content: space-evenly;
    flex-shrink: 0;
    box-shadow: 3px 3px 3px 3px rgb(177, 171, 176);
 }
        .header, .browse, .browse-category, .profile, .profile-menu, .main-menu, .author, .year-book, .likes {
        display: flex;
        align-items: center;
     }

   .browse-category {
    border-right: 1px solid var(--border-color);
    white-space: nowrap;
 }
  .browse-category svg {
    width: 16px;
    margin: 2px 10px 0 8px;
 }

   .search-bar {
    position: relative;
 }
  .search-bar input {
    height: 100%;
    width: 100%;
    display: block;
    background-color: transparent;
    border: 2px;
    font-weight: 600;
    padding: 0 10px 0 40px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='%238b939c' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3e%3ccircle cx='11' cy='11' r='8'/%3e%3cpath d='M21 21l-4.35-4.35'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 15px 50%;
    color: var(--body-color);
    font-family: var(--body-font);
 }
  .search-bar input::placeholder {
    color: var(--placeholder);
 }

 .header-title {
  font-size: 16px;
  font-weight: 400;
  margin-right: 120px;
}
.header-title span {
  font-weight: 500;
  color: var(--body-color);
}

.user-profile {
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
}
.user-profile:before {
  content: "";
  position: absolute;
  background-color: #f86d72;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 2px solid var(--theme-bg-color);
  right: 12px;
  top: -3px;
  border: 2px solid #fff;
}
.profile {
  flex-shrink: 0;
}
.profile-menu {
  border-left: 1px solid var(--border-color);
}
.profile svg {
  width: 16px;
  margin: 0 8px 0 15px;
  flex-shrink: 0;
}

.user-img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 15px;
}